@using WebApplication2_AboutMe.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Main Page";

    var info = ViewData["Info"] as PersonInfo;
}

@section Styles{
	<style>
		.card {
			align-items: center;
			text-align: center;
			border: 2px solid black;
			margin: 5px;
			align-self: center;
		}

		.d-flex {
			align-items: center;
		}

		.row-mt-5 {
			text-align: center;
		}

		li{
			text-align: left;
		}
	</style>
}

<div class="container">
	<div class="row-mt-5">
		<div class="col-md-6 d-flex flex-column">
			<div class="card" style="width: 20rem;">
				@if (info.Image != null)
				{
					<img class="img-thumbnail" src="@info.ImageUrl" width="100px">
				}
				<div class="card-body">
					<h5 class="card-title">@info.FirstName @info.LastName</h5>
					<p class="card-text">@info.Age years old</p>
					<div>
						@foreach (var skill in info.Skills)
						{
							<span class="badge bg-success">@skill.Title</span>
						}
					</div>
				</div>
			</div>
			<div>
				<div class="mb-3">
					<label for="search" class="form-label">Search</label>
					<input type="text" class="form-control" id="search" placeholder="Search skill..." />
					<ul id="search-result"></ul>
				</div>
			</div>
			<div>
				<a class="btn btn-outline-success" href="/PersonInfo/Index">Info</a>
				@* <a class="btn btn-outline-success" href="/News/Index">News</a> *@
			</div>
		</div>
	</div>
</div>


@section Scripts {
	<script src="/local/js/skills.js"></script>
}
