@using WebApplication2_AboutMe.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var filteredSkills = Model.Skills.Where(x => x.Id < 3);
    
}
@model PersonInfo

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AboutMe</title>
    <link href="/libraries/bootstrap/bootstrap-5.0.2-dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        .card {
            align-items: center;
            text-align: center;
            border: 2px solid black;
            margin: 5px;
        }

        .d-flex {
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row-mt-5">
            <div class="col-md-6 d-flex flex-column">
                <div class="card" style="width: 30rem;">
                    <img class="card-image" src="/local/storage/img/me.jpg" width="100px;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
                        <p class="card-text">@Model.Age years old</p>
                        <a class="btn btn-outline-primary mt-5 mb-5" href="/PersonInfo/AddSkill">Add Skill</a>
                       @*  <div>
                            @foreach (var skill in Model.Skills)
                            {
                                <span class="badge bg-success">@skill.Title</span>
                                <span class="badge bg-success">@skill.Level</span>
                                <span class="badge bg-success">@skill.LogoPath</span>
                            }
                        </div> *@
                        <div>
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Logo</th>
                                        <th>Title</th>
                                        <th>Level</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var skill in Model.Skills)
                                    {
                                        <tr>
                                            <td>
                                                <img src="@skill.LogoPath" width="30px">
                                            </td>
                                            <td>@skill.Title</td>
                                            <td>
                                                <div>
                                                    <progress value="@skill.Level" max="100"></progress>
                                                    @skill.Level
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex">
                                                    <a class="btn btn-outline-primary" href="/PersonInfo/EditSkill/@skill.Id">Edit</a>
                                                    @* <form method="post" action="/Country/Delete/@country.Id">
                                                        <button class="btn btn-outline-warning">Delete</button>
                                                    </form> *@
                                                </div>

                                            </td>
                                        </tr>
                                    }
        
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div>
                    @* <div class="mb-3">
                        <label for="search" class="form-label">Search</label>
                        <input type="text" class="form-control" id="search" placeholder="Type county here..."/>

                    </div> *@
                </div>
            </div>
        </div>
    </div>


    <script src="/libraries/bootstrap/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <script src="/libraries/jquery/jquery-3.7.0.js"></script>
    @* <script src="/local/js/skills.js"></script> *@

   


</body>
</html>